<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Оргструктура</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1054;&#1088;&#1075;&#1089;&#1090;&#1088;&#1091;&#1082;&#1090;&#1091;&#1088;&#1072;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-organization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_organization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-4a2bc1744f3041d6a4b76930f861a1e4.png" alt="Оргструктура" usemap="#id-4a2bc1744f3041d6a4b76930f861a1e4map"/>
			   <map name="id-4a2bc1744f3041d6a4b76930f861a1e4map">
				  												<area shape="rect" coords="802,334,910,371" href="../elements/id-88e8687e34054fb2bdec22d821730900.html"  target="element">
				  												<area shape="rect" coords="694,286,814,323" href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html"  target="element">

				  										<area shape="rect" coords="670,250,923,383" href="../elements/id-803d43f94c4741628d9467845f313c8d.html"  target="element">

				  								<area shape="rect" coords="658,214,935,395" href="../elements/id-3d5ede96d288488b9561cd327b173e5d.html"  target="element">

				  						<area shape="rect" coords="646,178,947,407" href="../elements/id-5203ba07e664455eac1a8d11db2c2b9c.html"  target="element">
				  												<area shape="rect" coords="478,334,598,371" href="../elements/id-88e8687e34054fb2bdec22d821730900.html"  target="element">
				  												<area shape="rect" coords="358,286,478,323" href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html"  target="element">

				  										<area shape="rect" coords="346,250,611,383" href="../elements/id-803d43f94c4741628d9467845f313c8d.html"  target="element">

				  								<area shape="rect" coords="334,214,623,395" href="../elements/id-562c3f9503c047d29f18ccd824b96642.html"  target="element">
				  												<area shape="rect" coords="178,334,298,371" href="../elements/id-88e8687e34054fb2bdec22d821730900.html"  target="element">
				  												<area shape="rect" coords="70,286,190,323" href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html"  target="element">

				  										<area shape="rect" coords="58,250,311,383" href="../elements/id-803d43f94c4741628d9467845f313c8d.html"  target="element">

				  								<area shape="rect" coords="46,214,323,395" href="../elements/id-362ef11d3efa435ab37c7605089a956b.html"  target="element">

				  						<area shape="rect" coords="34,178,635,407" href="../elements/id-f94682ffb4994a9a8d68ab4fa829b1e4.html"  target="element">
				  								<area shape="rect" coords="586,118,727,155" href="../elements/id-9946cc5c4b64474e839f8ab789093a2d.html"  target="element">
				  								<area shape="rect" coords="370,118,561,155" href="../elements/id-13267ffb976a462ba0942c2c416e7715.html"  target="element">
				  								<area shape="rect" coords="190,118,347,155" href="../elements/id-e1d942a4939b4d6d8ae29de64fd0bd39.html"  target="element">

				  						<area shape="rect" coords="178,82,743,167" href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html"  target="element">

				  				<area shape="rect" coords="22,46,959,419" href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html"  target="element">

				  		<area shape="rect" coords="10,10,971,431" href="../elements/id-ccb3a08207284776a7e9bf48b35014bc.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-ccb3a08207284776a7e9bf48b35014bc.html" target="element"> &#1053;&#1048;&#1059; &#1042;&#1064;&#1069; &#1055;&#1077;&#1088;&#1084;&#1100; </a> </td>
											    <td> <a href="../elements/id-ccb3a08207284776a7e9bf48b35014bc.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html" target="element"> &#1060;&#1072;&#1082;&#1091;&#1083;&#1100;&#1090;&#1077;&#1090;  &#1101;&#1082;&#1086;&#1085;&#1086;&#1084;&#1080;&#1082;&#1080;, &#1084;&#1077;&#1085;&#1077;&#1076;&#1078;&#1084;&#1077;&#1085;&#1090;&#1072; &#1080; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1080; </a> </td>
													    <td> <a href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1093; &#1090;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1081; &#1074; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1077; </a> </td>
															    <td> <a href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-e1d942a4939b4d6d8ae29de64fd0bd39.html" target="element"> &#1057;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1080;&#1089;&#1090; &#1059;&#1052;&#1056; </a> </td>
																	    <td> <a href="../elements/id-e1d942a4939b4d6d8ae29de64fd0bd39.html" target="element" class="i18n-elementtype-BusinessActor">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-13267ffb976a462ba0942c2c416e7715.html" target="element"> &#1047;&#1072;&#1074;&#1077;&#1076;&#1091;&#1102;&#1097;&#1080;&#1081; &#1082;&#1072;&#1092;&#1077;&#1076;&#1088;&#1086;&#1081; </a> </td>
																	    <td> <a href="../elements/id-13267ffb976a462ba0942c2c416e7715.html" target="element" class="i18n-elementtype-BusinessActor">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/id-9946cc5c4b64474e839f8ab789093a2d.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100; </a> </td>
																	    <td> <a href="../elements/id-9946cc5c4b64474e839f8ab789093a2d.html" target="element" class="i18n-elementtype-BusinessActor">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-f94682ffb4994a9a8d68ab4fa829b1e4.html" target="element"> &#1041;&#1072;&#1082;&#1072;&#1083;&#1072;&#1074;&#1088;&#1080;&#1072;&#1090; </a> </td>
															    <td> <a href="../elements/id-f94682ffb4994a9a8d68ab4fa829b1e4.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-362ef11d3efa435ab37c7605089a956b.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1072;&#1103; &#1080;&#1085;&#1078;&#1077;&#1085;&#1077;&#1088;&#1080;&#1103; </a> </td>
																	    <td> <a href="../elements/id-362ef11d3efa435ab37c7605089a956b.html" target="element" class="i18n-elementtype-BusinessActor">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																			    <td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element" class="i18n-elementtype-BusinessActor">
																			    </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																					    <td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element" class="i18n-elementtype-BusinessActor">
																					    </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																					    <td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element" class="i18n-elementtype-BusinessCollaboration">
																					    </a> </td>
																					</tr>

																			
																	
																	<tr>
																	    <td> <a href="../elements/id-562c3f9503c047d29f18ccd824b96642.html" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1072; </a> </td>
																	    <td> <a href="../elements/id-562c3f9503c047d29f18ccd824b96642.html" target="element" class="i18n-elementtype-BusinessActor">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																			    <td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element" class="i18n-elementtype-BusinessActor">
																			    </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																					    <td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element" class="i18n-elementtype-BusinessActor">
																					    </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																					    <td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element" class="i18n-elementtype-BusinessCollaboration">
																					    </a> </td>
																					</tr>

																			
																	
															
															<tr>
															    <td> <a href="../elements/id-5203ba07e664455eac1a8d11db2c2b9c.html" target="element"> &#1052;&#1072;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1090;&#1091;&#1088;&#1072; </a> </td>
															    <td> <a href="../elements/id-5203ba07e664455eac1a8d11db2c2b9c.html" target="element" class="i18n-elementtype-BusinessActor">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-3d5ede96d288488b9561cd327b173e5d.html" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1072;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1082;&#1072; </a> </td>
																	    <td> <a href="../elements/id-3d5ede96d288488b9561cd327b173e5d.html" target="element" class="i18n-elementtype-BusinessActor">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																			    <td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element" class="i18n-elementtype-BusinessActor">
																			    </a> </td>
																			</tr>

																					<tr>
																					    <td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																					    <td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element" class="i18n-elementtype-BusinessActor">
																					    </a> </td>
																					</tr>

																					<tr>
																					    <td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																					    <td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element" class="i18n-elementtype-BusinessCollaboration">
																					    </a> </td>
																					</tr>

																			
																	
															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a7fea68919ee4397bfc1227e4bebab89.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7fea68919ee4397bfc1227e4bebab89.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ccb3a08207284776a7e9bf48b35014bc.html" target="element"> &#1053;&#1048;&#1059; &#1042;&#1064;&#1069; &#1055;&#1077;&#1088;&#1084;&#1100; </a> </td>
																		<td> <a href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html" target="element"> &#1060;&#1072;&#1082;&#1091;&#1083;&#1100;&#1090;&#1077;&#1090;  &#1101;&#1082;&#1086;&#1085;&#1086;&#1084;&#1080;&#1082;&#1080;, &#1084;&#1077;&#1085;&#1077;&#1076;&#1078;&#1084;&#1077;&#1085;&#1090;&#1072; &#1080; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1080; </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-34fd820636ce4758948953a79a390c83.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-34fd820636ce4758948953a79a390c83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html" target="element"> &#1060;&#1072;&#1082;&#1091;&#1083;&#1100;&#1090;&#1077;&#1090;  &#1101;&#1082;&#1086;&#1085;&#1086;&#1084;&#1080;&#1082;&#1080;, &#1084;&#1077;&#1085;&#1077;&#1076;&#1078;&#1084;&#1077;&#1085;&#1090;&#1072; &#1080; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1080; </a> </td>
																				<td> <a href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1093; &#1090;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1081; &#1074; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1077; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-224487a065f845db9383df4448160a3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-224487a065f845db9383df4448160a3d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html" target="element"> &#1060;&#1072;&#1082;&#1091;&#1083;&#1100;&#1090;&#1077;&#1090;  &#1101;&#1082;&#1086;&#1085;&#1086;&#1084;&#1080;&#1082;&#1080;, &#1084;&#1077;&#1085;&#1077;&#1076;&#1078;&#1084;&#1077;&#1085;&#1090;&#1072; &#1080; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1080; </a> </td>
																				<td> <a href="../elements/id-f94682ffb4994a9a8d68ab4fa829b1e4.html" target="element"> &#1041;&#1072;&#1082;&#1072;&#1083;&#1072;&#1074;&#1088;&#1080;&#1072;&#1090; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-20c865f4efce4a5dabcc37e57bd31b7c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-20c865f4efce4a5dabcc37e57bd31b7c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-977e714ffdac4b8e9f9cfae33438b227.html" target="element"> &#1060;&#1072;&#1082;&#1091;&#1083;&#1100;&#1090;&#1077;&#1090;  &#1101;&#1082;&#1086;&#1085;&#1086;&#1084;&#1080;&#1082;&#1080;, &#1084;&#1077;&#1085;&#1077;&#1076;&#1078;&#1084;&#1077;&#1085;&#1090;&#1072; &#1080; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1080; </a> </td>
																				<td> <a href="../elements/id-5203ba07e664455eac1a8d11db2c2b9c.html" target="element"> &#1052;&#1072;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1090;&#1091;&#1088;&#1072; </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-8a726f5d1a85415a9792897e002b27a5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-8a726f5d1a85415a9792897e002b27a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1093; &#1090;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1081; &#1074; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1077; </a> </td>
																						<td> <a href="../elements/id-e1d942a4939b4d6d8ae29de64fd0bd39.html" target="element"> &#1057;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1080;&#1089;&#1090; &#1059;&#1052;&#1056; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-9dfb3612e13f41598e1233c86673aa15.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9dfb3612e13f41598e1233c86673aa15.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1093; &#1090;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1081; &#1074; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1077; </a> </td>
																						<td> <a href="../elements/id-13267ffb976a462ba0942c2c416e7715.html" target="element"> &#1047;&#1072;&#1074;&#1077;&#1076;&#1091;&#1102;&#1097;&#1080;&#1081; &#1082;&#1072;&#1092;&#1077;&#1076;&#1088;&#1086;&#1081; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-0497d138d6e64194b717203c3331d415.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-0497d138d6e64194b717203c3331d415.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-ee09ceaa37444d99939cfff78d85d2b4.html" target="element"> &#1050;&#1072;&#1092;&#1077;&#1076;&#1088;&#1072; &#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1094;&#1080;&#1086;&#1085;&#1085;&#1099;&#1093; &#1090;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1081; &#1074; &#1073;&#1080;&#1079;&#1085;&#1077;&#1089;&#1077; </a> </td>
																						<td> <a href="../elements/id-9946cc5c4b64474e839f8ab789093a2d.html" target="element"> &#1055;&#1088;&#1077;&#1087;&#1086;&#1076;&#1072;&#1074;&#1072;&#1090;&#1077;&#1083;&#1100; </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/id-093f668e501746d8898c949c55ba045c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-093f668e501746d8898c949c55ba045c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f94682ffb4994a9a8d68ab4fa829b1e4.html" target="element"> &#1041;&#1072;&#1082;&#1072;&#1083;&#1072;&#1074;&#1088;&#1080;&#1072;&#1090; </a> </td>
																						<td> <a href="../elements/id-362ef11d3efa435ab37c7605089a956b.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1072;&#1103; &#1080;&#1085;&#1078;&#1077;&#1085;&#1077;&#1088;&#1080;&#1103; </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-3f142662b4304ffeb035d39052cf40c1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-3f142662b4304ffeb035d39052cf40c1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-f94682ffb4994a9a8d68ab4fa829b1e4.html" target="element"> &#1041;&#1072;&#1082;&#1072;&#1083;&#1072;&#1074;&#1088;&#1080;&#1072;&#1090; </a> </td>
																						<td> <a href="../elements/id-562c3f9503c047d29f18ccd824b96642.html" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1072; </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-2dddea174bc74bb0b69cdadbb855e0c8.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-2dddea174bc74bb0b69cdadbb855e0c8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-362ef11d3efa435ab37c7605089a956b.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1072;&#1103; &#1080;&#1085;&#1078;&#1077;&#1085;&#1077;&#1088;&#1080;&#1103; </a> </td>
																								<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/id-1eb933497e524cff9162778b5702f6fb.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-1eb933497e524cff9162778b5702f6fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																										<td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																									</tr>

																											<tr>
																												<td> <a href="../elements/id-3d0decff06cb4175b2a599df0e833805.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-3d0decff06cb4175b2a599df0e833805.html" target="element" class="i18n-elementtype-AggregationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																												<td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																											</tr>
																											<tr>
																												<td> <a href="../elements/id-d6bd50289d2c4619bd577b9a3834e777.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-d6bd50289d2c4619bd577b9a3834e777.html" target="element" class="i18n-elementtype-AggregationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																												<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																											</tr>

																			
																	
																							<tr>
																								<td> <a href="../elements/id-81c1e3f8d3b546449c0868a82888c553.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-81c1e3f8d3b546449c0868a82888c553.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-562c3f9503c047d29f18ccd824b96642.html" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1080;&#1085;&#1092;&#1086;&#1088;&#1084;&#1072;&#1090;&#1080;&#1082;&#1072; </a> </td>
																								<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/id-1eb933497e524cff9162778b5702f6fb.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-1eb933497e524cff9162778b5702f6fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																										<td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																									</tr>

																											<tr>
																												<td> <a href="../elements/id-3d0decff06cb4175b2a599df0e833805.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-3d0decff06cb4175b2a599df0e833805.html" target="element" class="i18n-elementtype-AggregationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																												<td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																											</tr>

																			
																	
															
																					<tr>
																						<td> <a href="../elements/id-cbd9b5d520a942819b1a8cf2304bb7a5.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-cbd9b5d520a942819b1a8cf2304bb7a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-5203ba07e664455eac1a8d11db2c2b9c.html" target="element"> &#1052;&#1072;&#1075;&#1080;&#1089;&#1090;&#1088;&#1072;&#1090;&#1091;&#1088;&#1072; </a> </td>
																						<td> <a href="../elements/id-3d5ede96d288488b9561cd327b173e5d.html" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1072;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1082;&#1072; </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-7576d6b4869c4e52a2161e483e102c18.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-7576d6b4869c4e52a2161e483e102c18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																								</a> </td>
																								<td> <a href="../elements/id-3d5ede96d288488b9561cd327b173e5d.html" target="element"> &#1041;&#1080;&#1079;&#1085;&#1077;&#1089;-&#1072;&#1085;&#1072;&#1083;&#1080;&#1090;&#1080;&#1082;&#1072; </a> </td>
																								<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/id-1eb933497e524cff9162778b5702f6fb.html" target="element">  </a> </td>
																										<td> <a href="../elements/id-1eb933497e524cff9162778b5702f6fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/id-803d43f94c4741628d9467845f313c8d.html" target="element"> &#1043;&#1088;&#1091;&#1087;&#1087;&#1072; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1086;&#1074; </a> </td>
																										<td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																									</tr>

																											<tr>
																												<td> <a href="../elements/id-3d0decff06cb4175b2a599df0e833805.html" target="element">  </a> </td>
																												<td> <a href="../elements/id-3d0decff06cb4175b2a599df0e833805.html" target="element" class="i18n-elementtype-AggregationRelationship">
																												</a> </td>
																												<td> <a href="../elements/id-88e8687e34054fb2bdec22d821730900.html" target="element"> &#1050;&#1086;&#1084;&#1072;&#1085;&#1076;&#1072; </a> </td>
																												<td> <a href="../elements/id-97bcb9e5f14c4abea497bb2611a0ff58.html" target="element"> &#1057;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090; </a> </td>
																											</tr>

																			
																	
															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>