<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Технологии</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>&#1058;&#1077;&#1093;&#1085;&#1086;&#1083;&#1086;&#1075;&#1080;&#1080;</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-58a1430d483e451fb224369d1f10461d.png" alt="Технологии" usemap="#id-58a1430d483e451fb224369d1f10461dmap"/>
			   <map name="id-58a1430d483e451fb224369d1f10461dmap">
				  		<area shape="rect" coords="442,381,531,417" href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html"  target="element">
				  		<area shape="rect" coords="358,442,483,484" href="../elements/id-1be9254da71f4b3dae932c8015b1bef1.html"  target="element">
				  		<area shape="rect" coords="502,444,586,481" href="../elements/id-9b4fa7c755144a1aa40f575e3371f460.html"  target="element">
				  		<area shape="rect" coords="94,211,214,241" href="../elements/id-f69141201f254e2fa7b9aabdd7ce4c21.html"  target="element">
				  						<area shape="rect" coords="178,414,298,469" href="../elements/id-6fcc58ba0b3143458d3eed685f26e930.html"  target="element">
				  						<area shape="rect" coords="34,370,154,405" href="../elements/id-39d5393220c447ebba169b99648cac79.html"  target="element">
				  						<area shape="rect" coords="34,430,154,469" href="../elements/id-57bdddf6348b4712a6c2d1154bcef638.html"  target="element">

				  				<area shape="rect" coords="22,322,322,479" href="../elements/id-8b19de8fce924e8696e63e088c30be29.html"  target="element">

				  		<area shape="rect" coords="10,275,347,496" href="../elements/id-28b1d0e0bbac45068914fb000542bf8e.html"  target="element">
				  		<area shape="rect" coords="718,310,838,351" href="../elements/id-dbb5968ac00c4683add308f2b4ba609b.html"  target="element">
				  				<area shape="rect" coords="778,429,898,475" href="../elements/id-7d24d527865f4775b77367fcd70ef90e.html"  target="element">
				  				<area shape="rect" coords="622,424,742,479" href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html"  target="element">

				  		<area shape="rect" coords="610,381,925,490" href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html"  target="element">
				  		<area shape="rect" coords="547,296,667,351" href="../elements/id-d11f41dc495c475790c97571f0f9f4e4.html"  target="element">
				  				<area shape="rect" coords="811,201,914,256" href="../elements/id-07c43d92e5d041179b899d043abf327f.html"  target="element">
				  				<area shape="rect" coords="703,201,796,256" href="../elements/id-c252eb9a0f2e4c049465b5e166654f54.html"  target="element">
				  				<area shape="rect" coords="571,201,691,256" href="../elements/id-765385dc35e448ad9b632e1860a58120.html"  target="element">

				  		<area shape="rect" coords="547,177,925,274" href="../elements/id-6a1ef5410f3f45609580272372d93d14.html"  target="element">
				  				<area shape="rect" coords="34,58,130,113" href="../elements/id-547ce29d982a42cbae40c396c0f4c813.html"  target="element">
				  				<area shape="rect" coords="34,142,130,179" href="../elements/id-e8943be935724b0c8720bca9d1cffdf3.html"  target="element">
				  						<area shape="rect" coords="300,118,381,167" href="../elements/id-5cddaf408251477b950335a7eba3d1d5.html"  target="element">
				  						<area shape="rect" coords="298,58,383,107" href="../elements/id-ff4fb0643dba4c89b77e86a55683cf38.html"  target="element">

				  				<area shape="rect" coords="274,34,395,179" href="../elements/id-4a6dce7a1a1c409884f192a69890a9eb.html"  target="element">
				  						<area shape="rect" coords="166,118,251,167" href="../elements/id-ecc21046d8384032b53d46647363e070.html"  target="element">
				  						<area shape="rect" coords="166,58,251,107" href="../elements/id-98cd5c1b901146b6943477a8653e1f69.html"  target="element">

				  				<area shape="rect" coords="142,34,263,179" href="../elements/id-a44cb290267345329824546ad7b6a46d.html"  target="element">

				  		<area shape="rect" coords="10,10,407,191" href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1099;&#1081; &#1087;&#1088;&#1086;&#1076;&#1091;&#1082;&#1090; </a> </td>
											    <td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a44cb290267345329824546ad7b6a46d.html" target="element"> Backend </a> </td>
													    <td> <a href="../elements/id-a44cb290267345329824546ad7b6a46d.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-98cd5c1b901146b6943477a8653e1f69.html" target="element"> Backend Test </a> </td>
															    <td> <a href="../elements/id-98cd5c1b901146b6943477a8653e1f69.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ecc21046d8384032b53d46647363e070.html" target="element"> Backend Prod </a> </td>
															    <td> <a href="../elements/id-ecc21046d8384032b53d46647363e070.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-4a6dce7a1a1c409884f192a69890a9eb.html" target="element"> Frontend </a> </td>
													    <td> <a href="../elements/id-4a6dce7a1a1c409884f192a69890a9eb.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ff4fb0643dba4c89b77e86a55683cf38.html" target="element"> Frontend Test </a> </td>
															    <td> <a href="../elements/id-ff4fb0643dba4c89b77e86a55683cf38.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5cddaf408251477b950335a7eba3d1d5.html" target="element"> Frontend Prod </a> </td>
															    <td> <a href="../elements/id-5cddaf408251477b950335a7eba3d1d5.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-e8943be935724b0c8720bca9d1cffdf3.html" target="element"> Nginx </a> </td>
													    <td> <a href="../elements/id-e8943be935724b0c8720bca9d1cffdf3.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-547ce29d982a42cbae40c396c0f4c813.html" target="element"> Reverse proxy server </a> </td>
													    <td> <a href="../elements/id-547ce29d982a42cbae40c396c0f4c813.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6a1ef5410f3f45609580272372d93d14.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1075;&#1088;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1085;&#1072;&#1103; &#1089;&#1088;&#1077;&#1076;&#1072; &#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080; </a> </td>
											    <td> <a href="../elements/id-6a1ef5410f3f45609580272372d93d14.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-765385dc35e448ad9b632e1860a58120.html" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1082;&#1086;&#1085;&#1090;&#1088;&#1086;&#1083;&#1103; &#1074;&#1077;&#1088;&#1089;&#1080;&#1081; </a> </td>
													    <td> <a href="../elements/id-765385dc35e448ad9b632e1860a58120.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c252eb9a0f2e4c049465b5e166654f54.html" target="element"> &#1056;&#1077;&#1076;&#1072;&#1082;&#1090;&#1086;&#1088; &#1082;&#1086;&#1076;&#1072; </a> </td>
													    <td> <a href="../elements/id-c252eb9a0f2e4c049465b5e166654f54.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-07c43d92e5d041179b899d043abf327f.html" target="element"> &#1058;&#1088;&#1072;&#1085;&#1089;&#1083;&#1103;&#1090;&#1086;&#1088; </a> </td>
													    <td> <a href="../elements/id-07c43d92e5d041179b899d043abf327f.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d11f41dc495c475790c97571f0f9f4e4.html" target="element"> Web-&#1073;&#1088;&#1072;&#1091;&#1079;&#1077;&#1088; </a> </td>
											    <td> <a href="../elements/id-d11f41dc495c475790c97571f0f9f4e4.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
											    <td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html" target="element"> &#1050;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
													    <td> <a href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7d24d527865f4775b77367fcd70ef90e.html" target="element"> Windows 10 </a> </td>
													    <td> <a href="../elements/id-7d24d527865f4775b77367fcd70ef90e.html" target="element" class="i18n-elementtype-SystemSoftware">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dbb5968ac00c4683add308f2b4ba609b.html" target="element"> Windows API </a> </td>
											    <td> <a href="../elements/id-dbb5968ac00c4683add308f2b4ba609b.html" target="element" class="i18n-elementtype-TechnologyInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28b1d0e0bbac45068914fb000542bf8e.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
											    <td> <a href="../elements/id-28b1d0e0bbac45068914fb000542bf8e.html" target="element" class="i18n-elementtype-Node">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element"> &#1042;&#1080;&#1088;&#1090;&#1091;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1084;&#1072;&#1096;&#1080;&#1085;&#1072; </a> </td>
													    <td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-57bdddf6348b4712a6c2d1154bcef638.html" target="element"> Ubuntu Server </a> </td>
															    <td> <a href="../elements/id-57bdddf6348b4712a6c2d1154bcef638.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-39d5393220c447ebba169b99648cac79.html" target="element"> Docker </a> </td>
															    <td> <a href="../elements/id-39d5393220c447ebba169b99648cac79.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-6fcc58ba0b3143458d3eed685f26e930.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1086;&#1074;&#1072;&#1081;&#1076;&#1077;&#1088;&#1072; </a> </td>
															    <td> <a href="../elements/id-6fcc58ba0b3143458d3eed685f26e930.html" target="element" class="i18n-elementtype-Device">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-f69141201f254e2fa7b9aabdd7ce4c21.html" target="element"> Docker daemon </a> </td>
											    <td> <a href="../elements/id-f69141201f254e2fa7b9aabdd7ce4c21.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b4fa7c755144a1aa40f575e3371f460.html" target="element"> Wi-fi </a> </td>
											    <td> <a href="../elements/id-9b4fa7c755144a1aa40f575e3371f460.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1be9254da71f4b3dae932c8015b1bef1.html" target="element"> &#1057;&#1077;&#1090;&#1100; &#1087;&#1088;&#1086;&#1074;&#1072;&#1081;&#1076;&#1077;&#1088;&#1072; </a> </td>
											    <td> <a href="../elements/id-1be9254da71f4b3dae932c8015b1bef1.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html" target="element"> https </a> </td>
											    <td> <a href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html" target="element" class="i18n-elementtype-Path">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2712604512f642eeba9d43806442b7d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2712604512f642eeba9d43806442b7d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1099;&#1081; &#1087;&#1088;&#1086;&#1076;&#1091;&#1082;&#1090; </a> </td>
																		<td> <a href="../elements/id-a44cb290267345329824546ad7b6a46d.html" target="element"> Backend </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7b51a8d96ed146e2ae999eef8df62722.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b51a8d96ed146e2ae999eef8df62722.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1099;&#1081; &#1087;&#1088;&#1086;&#1076;&#1091;&#1082;&#1090; </a> </td>
																		<td> <a href="../elements/id-4a6dce7a1a1c409884f192a69890a9eb.html" target="element"> Frontend </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-313244c2de50409b8f83a0341787593a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-313244c2de50409b8f83a0341787593a.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1099;&#1081; &#1087;&#1088;&#1086;&#1076;&#1091;&#1082;&#1090; </a> </td>
																		<td> <a href="../elements/id-e8943be935724b0c8720bca9d1cffdf3.html" target="element"> Nginx </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-05911a57323e41d0b6b3c160aabab28c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-05911a57323e41d0b6b3c160aabab28c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1099;&#1081; &#1087;&#1088;&#1086;&#1076;&#1091;&#1082;&#1090; </a> </td>
																		<td> <a href="../elements/id-547ce29d982a42cbae40c396c0f4c813.html" target="element"> Reverse proxy server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-80848124a4ef4c2a8ac2888adc26fa37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-80848124a4ef4c2a8ac2888adc26fa37.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a44cb290267345329824546ad7b6a46d.html" target="element"> Backend </a> </td>
																				<td> <a href="../elements/id-98cd5c1b901146b6943477a8653e1f69.html" target="element"> Backend Test </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-19a9abec13d9412e845541836a492632.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-19a9abec13d9412e845541836a492632.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-a44cb290267345329824546ad7b6a46d.html" target="element"> Backend </a> </td>
																				<td> <a href="../elements/id-ecc21046d8384032b53d46647363e070.html" target="element"> Backend Prod </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f2506928e4b84cde890d1654bd7d3e2e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f2506928e4b84cde890d1654bd7d3e2e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a6dce7a1a1c409884f192a69890a9eb.html" target="element"> Frontend </a> </td>
																				<td> <a href="../elements/id-ff4fb0643dba4c89b77e86a55683cf38.html" target="element"> Frontend Test </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dd8010ea48df4301bd3cdbcded379b84.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dd8010ea48df4301bd3cdbcded379b84.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-4a6dce7a1a1c409884f192a69890a9eb.html" target="element"> Frontend </a> </td>
																				<td> <a href="../elements/id-5cddaf408251477b950335a7eba3d1d5.html" target="element"> Frontend Prod </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-3c7c2803da8e496ba87f2a39a37df8b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3c7c2803da8e496ba87f2a39a37df8b7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e8943be935724b0c8720bca9d1cffdf3.html" target="element"> Nginx </a> </td>
																				<td> <a href="../elements/id-547ce29d982a42cbae40c396c0f4c813.html" target="element"> Reverse proxy server </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-bb1a2c6690984004b9b92b5ff8aa2770.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb1a2c6690984004b9b92b5ff8aa2770.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a1ef5410f3f45609580272372d93d14.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1075;&#1088;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1085;&#1072;&#1103; &#1089;&#1088;&#1077;&#1076;&#1072; &#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080; </a> </td>
																		<td> <a href="../elements/id-07c43d92e5d041179b899d043abf327f.html" target="element"> &#1058;&#1088;&#1072;&#1085;&#1089;&#1083;&#1103;&#1090;&#1086;&#1088; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-98c1fc207ad947ce82f835063bc9defb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-98c1fc207ad947ce82f835063bc9defb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a1ef5410f3f45609580272372d93d14.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1075;&#1088;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1085;&#1072;&#1103; &#1089;&#1088;&#1077;&#1076;&#1072; &#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080; </a> </td>
																		<td> <a href="../elements/id-c252eb9a0f2e4c049465b5e166654f54.html" target="element"> &#1056;&#1077;&#1076;&#1072;&#1082;&#1090;&#1086;&#1088; &#1082;&#1086;&#1076;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a198a5690a30442492cd1718355872eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a198a5690a30442492cd1718355872eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-6a1ef5410f3f45609580272372d93d14.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1075;&#1088;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1085;&#1072;&#1103; &#1089;&#1088;&#1077;&#1076;&#1072; &#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080; </a> </td>
																		<td> <a href="../elements/id-765385dc35e448ad9b632e1860a58120.html" target="element"> &#1057;&#1080;&#1089;&#1090;&#1077;&#1084;&#1072; &#1082;&#1086;&#1085;&#1090;&#1088;&#1086;&#1083;&#1103; &#1074;&#1077;&#1088;&#1089;&#1080;&#1081; </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7a8bd1a4dfed4854b09378fa0cefdc6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a8bd1a4dfed4854b09378fa0cefdc6d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																		<td> <a href="../elements/id-dbb5968ac00c4683add308f2b4ba609b.html" target="element"> Windows API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0de08022d9b14be0aa33b9cf1a772562.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0de08022d9b14be0aa33b9cf1a772562.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																		<td> <a href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html" target="element"> &#1050;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74d02e0360d14649a910ea860b068125.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74d02e0360d14649a910ea860b068125.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																		<td> <a href="../elements/id-7d24d527865f4775b77367fcd70ef90e.html" target="element"> Windows 10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b24ca7a55dad40fcb9b7bf56556f98a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b24ca7a55dad40fcb9b7bf56556f98a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																		<td> <a href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html" target="element"> https </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b4b6a4e5d575448c9ed6aafef83965d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b4b6a4e5d575448c9ed6aafef83965d6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html" target="element"> &#1050;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																				<td> <a href="../elements/id-7d24d527865f4775b77367fcd70ef90e.html" target="element"> Windows 10 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c7922eed5a284ae4acd9713d5c2bf589.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c7922eed5a284ae4acd9713d5c2bf589.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html" target="element"> &#1050;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																				<td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2184ef3e76c0402d950d34ac718c9e79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2184ef3e76c0402d950d34ac718c9e79.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7d24d527865f4775b77367fcd70ef90e.html" target="element"> Windows 10 </a> </td>
																				<td> <a href="../elements/id-a3090dc89d2b4bc6ac8585ccdd3b40be.html" target="element"> &#1056;&#1072;&#1073;&#1086;&#1095;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-890d1d8423f54dfab0986a52e4f31448.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-890d1d8423f54dfab0986a52e4f31448.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dbb5968ac00c4683add308f2b4ba609b.html" target="element"> Windows API </a> </td>
																		<td> <a href="../elements/id-d11f41dc495c475790c97571f0f9f4e4.html" target="element"> Web-&#1073;&#1088;&#1072;&#1091;&#1079;&#1077;&#1088; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b314673db2264167b07aea0f842770ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b314673db2264167b07aea0f842770ec.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dbb5968ac00c4683add308f2b4ba609b.html" target="element"> Windows API </a> </td>
																		<td> <a href="../elements/id-6a1ef5410f3f45609580272372d93d14.html" target="element"> &#1048;&#1085;&#1090;&#1077;&#1075;&#1088;&#1080;&#1088;&#1086;&#1074;&#1072;&#1085;&#1085;&#1072;&#1103; &#1089;&#1088;&#1077;&#1076;&#1072; &#1088;&#1072;&#1079;&#1088;&#1072;&#1073;&#1086;&#1090;&#1082;&#1080; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-246691994b984b8caad5fbf5b81a8221.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-246691994b984b8caad5fbf5b81a8221.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28b1d0e0bbac45068914fb000542bf8e.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																		<td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element"> &#1042;&#1080;&#1088;&#1090;&#1091;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1084;&#1072;&#1096;&#1080;&#1085;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-700c551b7eca4beb8cc6a2f04bb38305.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-700c551b7eca4beb8cc6a2f04bb38305.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-28b1d0e0bbac45068914fb000542bf8e.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1080;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1081; </a> </td>
																		<td> <a href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html" target="element"> https </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e6b4b707f5244e0c82dac48eb0b0e986.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6b4b707f5244e0c82dac48eb0b0e986.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element"> &#1042;&#1080;&#1088;&#1090;&#1091;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1084;&#1072;&#1096;&#1080;&#1085;&#1072; </a> </td>
																				<td> <a href="../elements/id-6fcc58ba0b3143458d3eed685f26e930.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1086;&#1074;&#1072;&#1081;&#1076;&#1077;&#1088;&#1072; </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5ab342e473ae46b2a1199fca24802e48.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ab342e473ae46b2a1199fca24802e48.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element"> &#1042;&#1080;&#1088;&#1090;&#1091;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1084;&#1072;&#1096;&#1080;&#1085;&#1072; </a> </td>
																				<td> <a href="../elements/id-57bdddf6348b4712a6c2d1154bcef638.html" target="element"> Ubuntu Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2b3b59b1b71043f0a9367e88455d7e4e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2b3b59b1b71043f0a9367e88455d7e4e.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element"> &#1042;&#1080;&#1088;&#1090;&#1091;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1084;&#1072;&#1096;&#1080;&#1085;&#1072; </a> </td>
																				<td> <a href="../elements/id-39d5393220c447ebba169b99648cac79.html" target="element"> Docker </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e18b8a23ec114ebeb0dafa55f9476105.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e18b8a23ec114ebeb0dafa55f9476105.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-8b19de8fce924e8696e63e088c30be29.html" target="element"> &#1042;&#1080;&#1088;&#1090;&#1091;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1084;&#1072;&#1096;&#1080;&#1085;&#1072; </a> </td>
																				<td> <a href="../elements/id-f69141201f254e2fa7b9aabdd7ce4c21.html" target="element"> Docker daemon </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-03c1ce3d1192452cb8e2d0950f74842c.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-03c1ce3d1192452cb8e2d0950f74842c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/id-57bdddf6348b4712a6c2d1154bcef638.html" target="element"> Ubuntu Server </a> </td>
																						<td> <a href="../elements/id-39d5393220c447ebba169b99648cac79.html" target="element"> Docker </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-979f0f1c728144f5b0f0c52b8b1f905a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-979f0f1c728144f5b0f0c52b8b1f905a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f69141201f254e2fa7b9aabdd7ce4c21.html" target="element"> Docker daemon </a> </td>
																		<td> <a href="../elements/id-fa2441dc5d984d278b557000dcfad4ad.html" target="element"> &#1055;&#1088;&#1086;&#1075;&#1088;&#1072;&#1084;&#1084;&#1085;&#1099;&#1081; &#1087;&#1088;&#1086;&#1076;&#1091;&#1082;&#1090; </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfba14ecc97e437a855245edd0c39cef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfba14ecc97e437a855245edd0c39cef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b4fa7c755144a1aa40f575e3371f460.html" target="element"> Wi-fi </a> </td>
																		<td> <a href="../elements/id-9b2354d70ed3405693c5b34ca220db08.html" target="element"> &#1050;&#1086;&#1084;&#1087;&#1100;&#1102;&#1090;&#1077;&#1088; &#1089;&#1090;&#1091;&#1076;&#1077;&#1085;&#1090;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60476a5873fe415c950112d2e5845fef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60476a5873fe415c950112d2e5845fef.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9b4fa7c755144a1aa40f575e3371f460.html" target="element"> Wi-fi </a> </td>
																		<td> <a href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html" target="element"> https </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4cbad23fa8dd4ed090af8e2dd955bc0f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cbad23fa8dd4ed090af8e2dd955bc0f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1be9254da71f4b3dae932c8015b1bef1.html" target="element"> &#1057;&#1077;&#1090;&#1100; &#1087;&#1088;&#1086;&#1074;&#1072;&#1081;&#1076;&#1077;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-6fcc58ba0b3143458d3eed685f26e930.html" target="element"> &#1057;&#1077;&#1088;&#1074;&#1077;&#1088; &#1087;&#1088;&#1086;&#1074;&#1072;&#1081;&#1076;&#1077;&#1088;&#1072; </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b45c14dbcc8a4a9fbe8ea80c3d07a699.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b45c14dbcc8a4a9fbe8ea80c3d07a699.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1be9254da71f4b3dae932c8015b1bef1.html" target="element"> &#1057;&#1077;&#1090;&#1100; &#1087;&#1088;&#1086;&#1074;&#1072;&#1081;&#1076;&#1077;&#1088;&#1072; </a> </td>
																		<td> <a href="../elements/id-e6a2610d67a046a8b1a9c33b68acdeea.html" target="element"> https </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>